 #navigatorDiv{
 	position: fixed !important;
 	top: 0 !important;
    left: 0 !important;
 	width: 100px; 
 	height: 100px; 
 }

/*  #toolbarDiv{
 	position: fixed !important;
 	top: 0 !important;
    left: 130px !important;
 }
*/
 #openseadragon1{
 	position: fixed !important;
 	top: 120 !important;
    left: 105 !important;
 	width: 800px; 
 	height: 600px;
 }
