#container{
	position: absolute;
}

#navigatorDiv{
 	width: 100px;
	height: 100px;
	float: left;
	border: 2px solid !important;
	border-color: darkolivegreen !important;
 }
#navigatorDiv-displayregion{
	border-color: #9d9d9d !important;
}

#toolbarDiv{
	margin-left: 110px;
	width: auto;
}

 #openseadragon1{
	 margin-left: 100px;
 	width: 800px;
 	height: 600px;
 }
